@import "./variables";

.contact-illustration {
    max-width: 500px;
}

.contact-title {
    width: fit-content;

    &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -10px;
        right: -30px;
        width: 100px;
        height: 4px;
        background-color: $color6;
    }
}

/* contact item */

.contact-item-cover {
    width: fit-content;
}

.contact-item, .contact-item-cover {
    transition: .32s;
}

.contact-item-container:hover .contact-item:not(:hover) {
    opacity: 0.3;
}

.contact-item:hover {
    transform: scale(1.10);
}

@media (max-width: 950px) {
    .contact-illustration {
        max-width: 430px;
    }
}

@media (max-width: 850px) {
    .contact-illustration {
        max-width: 360px;
    }
}

@media (max-width: 695px) {
    .contact-illustration {
        order: -1;
        margin-top: 0 !important;
        margin-bottom: 48px;
    }
}