@import "./typography";

.logo {
    max-height: 30px;
}

.illustration-height {
    height: 490px;
}

.illustration-width-height {
    max-width: 500px;
    max-height: 320px;
}

.dashed-letter-dark {
    text-shadow:
        -2px 0px 0px $color6,
        2px 0px 0px $color6,
        0px -2px 0px $color6,
        0px 2px 0px $color6;
    color: $color0;
}

.dashed-letter-light {
    text-shadow:
        -2px 0px 0px $color0,
        2px 0px 0px $color0,
        0px -2px 0px $color0,
        0px 2px 0px $color0;
    color: $color6;
}

// scroll reveal

.scroll-grow, .scroll-fade, .scroll-top, .scroll-bottom, .scroll-left, .scroll-right, .scroll-right-title, .scroll-grow-icon {
    visibility: hidden;
}

/* wave */
.wave-effect-top, .wave-effect-bottom {
    width: 101%;
}

.wave-effect-top {
    margin-top: -2px !important;
}

.wave-effect-bottom {
    margin-bottom: -2px !important;
}

/* main */
main {
    overflow: hidden;
}