@import "./typography";

.logo {
    max-height: 30px;
}

.illustration-height {
    height: 490px;
}

.illustration-width-height {
    max-width: 500px;
    max-height: 320px;
}

.dashed-letter, .dashed-letter-light {
    color: transparent !important;
    -webkit-text-stroke-width: 1px !important;
}

.dashed-letter {
    -webkit-text-stroke-color: $color6 !important;
}

.dashed-letter-light {
    -webkit-text-stroke-color: $color0 !important;
}

// scroll reveal

.scroll-grow, .scroll-fade, .scroll-top, .scroll-bottom, .scroll-left, .scroll-right, .scroll-right-title, .scroll-grow-icon {
    visibility: hidden;
}

/* wave */
.wave-effect-top, .wave-effect-bottom {
    width: 101%;
}

.wave-effect-top {
    margin-top: -2px !important;
}

.wave-effect-bottom {
    margin-bottom: -2px !important;
}

/* main */
main {
    overflow: hidden;
}