// Own configurations

// Color table
$color0: #ffffff;
$color1: #F2F2F2;
$color2: #A6442E;
$color3: #CEDEF2;
$color4: #A0B9D9;
$color5: #65728C;
$color6: #384359;

// Other variables

$default-transition: .35s;
$default-border-radius: 12px;

// Bootstrap overwrite

$primary:       $color4;
$secondary:     $color5;
$light:         $color0;
$dark:          $color6;
$info:          $color2;

// $white:    $color2;
// $black:    $color6;

// $body-bg:      $color4;
// $body-color:   $color6;

// $color-contrast-dark:      $color6;
// $color-contrast-light:     $color0;

$modal-fade-transform:   translate(0, 0); 